@import "tailwindcss";

@theme {
  --color-widget-titlebar: #ffe48b;
  --color-widget-titlebar-border: #ffaf01;
  --color-widget-bg: #f9ffd5;
  --color-widget-border: #a2bd4b;
  --color-dark-pink: #c94a6a;

  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@utility font-figmaHand {
  font-family: "Patrick Hand", cursive;
}

.font-silkscreen {
  font-family: "Silkscreen", cursive;
}

.font-mono {
  font-family: "IBM Plex Mono", monospace;
}

.font-tenor {
  font-family: "Tenor Sans", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
